

.center {
  width: 180px;
  height: 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 40px;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: black;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.custom-svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: black;
}

.btn:hover .custom-svg {
  stroke-dashoffset: -480;
}

.btn .custom-text-button {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


/* Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
